html{
    color: black;
}

body{
    background: rgb(235, 230, 230);
    font-style: normal;
}

li{
    width: auto;
    font-size: 25px;
}

p {
    width: auto;
    font-size: 25px;
}


